<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevaexp"
      *ngIf="IsLogged"
    >
      Nueva Experiencia
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let experiencia of expe">
          <td>
            <h3>{{ experiencia.nombreE }}</h3>
          </td>
          <td>{{ experiencia.descripcionE }}</td>
          <td *ngIf="IsLogged">
            <button
              class="btn btn-secondary"
              routerLink="/editexp/{{ experiencia.id }}"
            >
              <i class="bi bi-pencil-square"></i>EDITAR
            </button>
          </td>
         <td *ngIf="IsLogged">
            <button class="btn btn-danger" (click)="delete(experiencia.id)">
                <i class="bi bi-trash-fill"></i> BORRAR</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
