<div class="row">
  <h1>Proyectos Realizados</h1>
  <h2>Proyecto Final #ArgentinaPrograma / Marzo 2023</h2>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      
      <h3>Objetivo:</h3>
      <p>
        "Desarrollar una aplicación web full stack, que mostrará: tus
        datos personales, estudios cursados, experiencia laboral, conocimiento
        de las tecnologías y lo que desees agregar. Es decir, ¡crear tu propio
        portfolio web! Esta aplicación deberá ser de arquitectura distribuida y
        contener un diseño de interfaz de usuario (front end) que muestre la
        información, una base de datos que almacene los datos antes mencionados
        y debe contar con las APIs necesarias para proveer a través de internet
        la información (back end)."(Fuente: #YoProgramo)
      </p>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-2 parte2">
        <a href="https://github.com/renzmore">
          <img src="../../../assets/git.png" class="img-fluid img-proyecto" alt="Enlace a mi perfil de GitHub" />
        </a>
        
      </div>
      <p>Click GitHub (Ver: Backend/Frontend)</p>
    </div>
  </div>